heart_attack/
data/
.idea/
.devcontainer/
__pycache__/
.ipynb_checkpoints/
.log
bin/
include/
lib/
lib64/
venv/
etc/jupyter/nbconfig/notebook.d/
share/jupyter/nbextensions/pydeck/
policy.json
pyvenv.cfg

